<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/nav')%>
    <div class="About content">
        <h2>About us</h2>
        <p>Text 1</p>
        <p>Text 2</p>
        <p>Text 3</p>
    </div>
    
</body>
<%- include('./partials/footer')%>
</html>